@font-face {
    font-family: 'minecraftia';
    src: url('media/Minecraftia-Regular.ttf');
}

@font-face {
    font-family: 'open sans';
    src: url('media/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    background-image: url('libglass-very-lossy.webp?v=2024.08.18.0');
    background-color: black;
    background-attachment: fixed;
    background-position: top center;
}

#main-container {
    width: 900px;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
}

#header {
    width: 100%;
    color: whitesmoke;
    font: 80px 'minecraftia';
    text-align: center;
    display: block;
    /*height: 125px;*/
}

#copydiv {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 50px 0px;
}

#copybutton {
    font: 16px 'minecraftia';
    height: 42px;
    width: 215px;
    color:black; 
    background-color: rgba(0, 0, 0, 0.2);
}
#copybutton:hover { background-color: #385f9d44 }

#copytext { padding-left: 15px; }

#mainflex {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px 10px;
    margin-bottom: 10px;
}

#sideflex {
    flex-basis: 35%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px 0px; 
    justify-content: space-between;
    align-items: stretch; 
    align-content: stretch;
}

.thanksbox {
    display: flex;
    flex-flow: row wrap;
    gap: 5px 20px;
    justify-content: space-around;
}

.thanks { 
    text-align: center;
}

.block { 
    background-color: whitesmoke;
    border: 2px solid #002554;
    border-radius: 0px;
    padding: 5px;
}

p {
    font: 16px 'open sans';
    margin: 0px 0px;
    white-space: pre-wrap;
    color: black;
}
a  { font: 16px 'open sans'; }
ul { font: 14px 'open sans'; }

h1 {
    font: 20px 'open sans';
    font-weight: bold;
    color: #002554;
    margin: 3px 0px;
    text-align: center;
    white-space: pre-wrap;
}

span { 
    font: 16px 'minecraftia';
    color: whitesmoke;
    vertical-align: middle;
 }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border: 2px #B3A369;
    border-style: solid none none none;
}

 @-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }



.floating { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 3px); }
    50% { transform: translate(0, -3px); }
    100% { transform: translate(0, 3px); }
}

.wobble { 
	animation-name: wobble;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes wobble {
    0% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    100% { transform: rotate(2deg); }

 } 